.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template: 54px auto 54px/ repeat(12, 1fr);
}

@media (min-width: 450px) {
    .container {
        grid-template: 54px auto / repeat(12, 1fr);
    }
}