.header {
  text-align: center;
  height: 54px;
  background-color: white;
  border-bottom: 1px solid rgba(219, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
}

.inner-header {
  display: flex;
  width: 935px;
  align-items: center;
  padding: 0 20px;
}

.inner-header .MuiBottomNavigation-root {
  padding: 6px 12px 8px;
  height: 54px;
  width: 240px;
  margin-left: auto;
}

.inner-header .search-icon {
  margin-left: auto;
}

.inner-header .MuiBottomNavigationAction-root {
  flex: none;
  padding: 0;
  min-width: 0px;
}

.inner-header
  .MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
  padding-top: 0;
}

.inner-header .MuiBottomNavigationAction-root.Mui-selected {
  padding-top: 0;
  color: black;
}

.inner-header .search-input {
  display: none;
}

.inner-header .search-input input {
  padding: 2px 5px;
}

.inner-header .toolbar {
  cursor: pointer;
  display: none;
}

@media (min-width: 600px) {
  .inner-header {
    justify-content: space-between;
  }

  .inner-header .toolbar.MuiBottomNavigation-root {
    display: flex;
    justify-content: space-between;
    margin-left: 0;
  }

  .inner-header .search-input {
    display: initial;
  }

  .inner-header .search-icon {
    display: none;
  }
}

@media (min-width: 1000px) {
  .inner-header .categories {
    display: none;
  }

  .inner-header .MuiBottomNavigation-root {
    width: 180px;
  }
}
