.footer {
    grid-column: 1 / -1;
    background-color: white;
    border-top: 1px solid rgba(219,219,219);
}

.footer .MuiBottomNavigation-root {
    height: 54px;
    justify-content: space-around;
}

.footer .MuiBottomNavigationAction-root {
    padding: 0;
    min-width: 0px;
}

.footer .MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
    padding-top: 0px;
}

.footer .MuiBottomNavigationAction-root.Mui-selected {
    padding-top: 0;
    color: black;
}

@media (min-width: 600px) {
    .footer {
        display: none;
    }
}