* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.login-box {
    width: 390px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 50px 55px 33px 55px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 100%;
}

.company-name {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 60px;
}

/* .login-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 48px;
} */