html, body, #root {
  height: 100%;
  margin: 0;
}

/* css for development */

.container {
  font-size: 2em;
  color: #ffeead;
}

.header {
  background-color: #96ceb4;
}

footer {
  background-color: #96ceb4;
}

main {
  background-color: white;
}

section nav {
  background-color: #ff6f69;
}

section .content {
  background-color: #ffcc5c;
}

/* .container div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container div:nth-child(3n) {
  
}

.container div:nth-child(2n) {
  
}

.container div:nth-child(4n) {
  background-color: #ffcc5c;
} */