html, body, #root {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
}

/* css for development */

/* .container {
  font-size: 2em;
  color: #ffeead;
} */

/* footer {
  background-color: #96ceb4;
} */

section nav {
  background-color: #ff6f69;
}

section .content {
  background-color: #ffcc5c;
}

/* .container div:nth-child(1n) {
  background-color: #96ceb4;	
}

.container div:nth-child(3n) {
  
}

.container div:nth-child(2n) {
  
}

.container div:nth-child(4n) {
  background-color: #ffcc5c;
} */